<% provide(:title, 'Войти') %>
<div class="login-bg">
  <div class="container">
    <div class="row">
      <div class="col-4 offset-md-4">
        <div class="log-in panel">
          <div class="panel-heading">
            <h2>Войти</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
              <%= devise_error_messages! %>
              <div class="panel-body">
                <div class="form-group">
                  <%= form.email_field :email, required: true, autofocus: true, label: false, placeholder: "Почта", class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= form.password_field :password, require: true, label: false, autocomplete: "off", placeholder: "Пароль", class: 'form-control' %>
                </div>

                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= form.check_box :remember_me %>
                    <%= form.label 'Запомнить меня'%>
                  </div>
                <% end -%>

                <div class="actions text-center">
                  <%= form.submit "Войти", class: 'btn btn-info btn-block' %>
                </div>
              </div>
            <% end %>
            <br>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
