<div class="posts-wrapper">
  <div class="post">
    <div class="post-body">
      <div class="image-wrap">
        <%= form_image_select(@post) %>
        <%= form_with(model: post, local: true, multipart: true) do |form| %>
          <div class="row">
            <div class="col-12 text-center">
              <%= render 'application/error_messages', target: @post %>
            </div>
          </div>
          <div class="container-fluid">
            <div class="form-group text-center">
              <h4>Загрузить изображение (это обязательно):</h4>
                <div class="form-group">
                  <%= form.hidden_field :image, value: post.cached_image_data %>
                  <%= form.file_field :image, label: false, onChange: 'loadFile(event)' %>
               </div>
               <div class="form-group text-center">
                 <%= form.text_area :description, label: false, autofocus: true, id: :post_description, placeholder: 'Добавьте описание', class: 'form-control' %>
               </div>
               <div class="actions text-center">
                 <%= form.submit "Опубликовать", class: 'btn btn-success btn-block' %>
               </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
