<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img">
      </div>
      <div class="user-name">
          <%= link_to post.user.user_name, profile_path(post.user.user_name) %>
      </div>
      <div class="time-ago">
        <%= time_ago_in_words post.created_at %>
      </div>
    </div>
    <div class="image text-center">
      <% if post.image.present? %>
        <%= link_to (image_tag post.image_url(:medium), class: 'img-responsive'), post_path(post) %>
      <% end %>
    </div>
    <div class="post-bottom">
      <div class="likes" id="likes_<%= post.id %>" >
        <%= render 'likes/likes', post: post %>
      </div>
      <div class="description">
        <div class="description-content">
          <div class="user-name">
            <%= link_to post.user.user_name, profile_path(post.user.user_name) %>
          </div>
          <%= post.description %>
        </div>
      </div>
      <% if post.comments %>
      <div class="comments" id="comments_<%= post.id %>">
        <% if post.comments.any? %>
          <div class="paginator" id="#comments-paginator-<%= post.id %>">
            <% unless post.comments.count <= 4 %>
              <strong><%= link_to "показать больше комментариев #{post.comments.count}", post_comments_path(post), remote: true, class: 'more-comments', data: { post_id: "#{post.id}", type: "html" } %></strong>
            <% end %>
          </div>
            <%= render post.comments.includes(:user).last(4), post: post %>
        <% end %>
      </div>
      <% end %>
    </div>
    <% if policy(Comment).create? %>
    <div class="comment-like-form row">
      <div class="comment-form col-12">
        <%= form_for [post, post.comments.build], remote: true do |f| %>
          <% f.text_field :content, placeholder: 'Оставить комментарий...', class: 'form-control comment_content',type: 'text', id: "comment_content_#{post.id}" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
