<% provide(:title, 'Пост') %>
<div class="row">
  <div class="col-md-1 col-lg-2"></div>
  <div class="col-md-10 col-lg-8 text-xs-center">
    <h1 class="text-center"><%= @post.title %>
    <%= @post.user.user_name %></h1>
    <hr>
    <div class="text-center">
      <% if @post.image.present? %>
        <%= image_tag @post.image_url %>
      <% end %>
    </div>
  </div>
</div>
<br>
<% render 'comments/form' %>
<br>
<div class="text-center">
    <% if policy(Post).edit? %>
      <%= link_to 'Редактировать', edit_post_path(@post) %> |
    <% end %>
    <%= link_to 'Вернуться', posts_path %> |
    <% if policy(Post).destroy? %>
      <%= link_to 'Удалить', post_path(@post), method: :delete,
      data: { confirm: 'Вы уверены?' } %>
    <% end %>
</div>
