<nav class="navbar navbar-light navbar-toggleable-sm bg-faded justify-content-center">
  <div class="container navbar-container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to ' Memento', root_path, class: 'fa-lg fa fa-linode navbar-brand' %>
    <div class="navbar-collapse collapse" id="collapsingNavbar3">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to ' Новый Пост', new_post_path, class: "fa fa-paper-plane-o nav-link" if policy(Post).new? %>
            </li>
            <li class="nav-item">
              <%= link_to '', profile_path(current_user.user_name), class: "fa-lg fa fa-user-circle-o nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to '', destroy_user_session_path, method: :delete, class: "fa-lg fa fa-sign-out nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Войти', new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Регистрация', new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>
